@model (string html, string state, string publicUrl, string head)
@{
  var (html, state, publicUrl, head) = this.Model;
}
<!DOCTYPE html>
<html lang="en">
  <!-- <head> -->
  @Html.Raw(head)
  <script contentType="text/json">
    window.INITIAL_STATE= JSON.parse(atob('@Html.Raw(state)')) ;
  </script>
  <!-- </head> -->
  <!-- <body> -->
    @Html.Raw(html) 
  <!-- </body> -->   
</html>
